:root {
  --gradient: linear-gradient(to right, #9572FC, #43E7AD, #E2D45C);
  --purple-300: #9A35FF;
  --blue-300: #2871FF;
  --pink-300: #FA41FE;
  --red-300: #F40000;
  --black-300: #121214;
  --gray-100: #A1A1AA;
  --gray-300: #2A2634;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-size: 62.5%; /* 10px = 1rem */
}

/* BODY */
body {
  background-image: url(images/background.jpg);
  background-color: var(--black-300);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

body * {
  font-family: 'Inter', sans-serif;
  line-height: 160%;
}

ul {
  list-style: none;
}

/* HEADER */
header {
  height: calc(12rem + 3.2rem);
}

header div {
  display: flex;
  margin: auto;
  width: 12rem;
  padding-top: 3.2rem;
}

header div img {
  width: 100%;
  padding: 0.4rem;
  border-radius: 50%;
  background: #fff;
  background-image: var(--gradient);
}

/* MAIN - CARDS */
main {
  max-width: 58rem;
  width: 90%;
  margin: 3.2rem auto;
  
  display: grid;
  gap: 2.4rem;
}

section {
  color: white;
  background: var(--gradient);
  padding-top: 0.4rem;
  border-radius: 1rem;
}

section div {
  background-color: var(--gray-300);
  padding: 3.2rem;
  padding-top: 2.4rem;
  border-radius: 0.5rem;
}

section h2 {
  font-weight: 900;
  font-size: 2.4rem;
  letter-spacing: -0.47px;
}

section p {
  color: var(--gray-100);
  font-size: 1.4rem;
  letter-spacing: -0.18px;
}

section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  margin-top: 1.6rem;
}

/* SECTION - LISTS */
.games-list img {
  width: 9rem;
  height: 12rem;
  border-radius: 0.8rem;
  transition: all .2s ease-in-out;
}

.channels-list img {
  border-radius: 50%;
  border: 0.1rem solid var(--gray-100);
  transition: all .2s ease-in-out;
}

.socials-list img {
  border-radius: 0.8rem;
  transition: all .2s ease-in-out;
}

/* ANIMATIONS */
section ul li {
  transition: transform .3s;
}

section ul li:hover {
  transform: scale(1.1);
}

header div {
  animation: fromTop .4s .4s backwards;
}

main section {
  animation: fromLeft .4s .4s backwards;
}

main section:nth-child(1) {
  animation-delay: .1s;
}

main section:nth-child(2) {
  animation-delay: .3s;
}

main section:nth-child(3) {
  animation-delay: .5s;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}